@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}

body{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; overflow: hidden;}
.main_wrap{position: absolute; bottom: 60px; right: 60px; width: calc(100% - 120px); height: calc(100% - 140px); overflow: hidden;}
.ico_wrap:after{content:''; display:block; clear:both;}

/* header */

#header{position: absolute; top: 0; left: 0; width: 100%; height: 80px;}
#header .inner{width: 75%; margin: 0 auto;}
#header .inner::after{content: ''; display: block; clear: both;}
#header .logo{float: left; text-align: left;}
#header .logo a{display: block; padding-top: 15px; font: bold 50px 'Pretendard-Bold'; color: #333;}
#header .gnb_wrap{float: right;}
#header .gnb_wrap li{position: relative; float: left; margin: 0 25px; padding-top: 27.5px; cursor: pointer;}
#header .gnb_wrap li::before{content: ''; position: absolute; display: block; left: 50%; top: -100px; width: 120%; height: 100%; border-radius: 5px; transition: .3s; z-index: -1; transform: translate(-50%, -50%);}
#header .gnb_wrap li.on::before{top: 75%;}
#header .gnb_wrap li:nth-of-type(1).on::before{background-color: #7880e9;}
#header .gnb_wrap li:nth-of-type(2).on::before{background-color: #5860d6;}
#header .gnb_wrap li:nth-of-type(3).on::before{background-color: #3f48be;}
#header .gnb_wrap li:nth-of-type(4).on::before{background-color: #232ca8;}
#header .gnb_wrap li:nth-of-type(5).on::before{background-color: #00087c;}

#header .gnb_wrap li::after{content: ''; position: absolute; left: 0; top: 0; display: block; width: 100%; height: 100%; border-bottom: 1px solid #777; transform: scaleX(0.8); opacity: 0; transition: .3s;}
#header .gnb_wrap li:not(.on):hover::after{opacity: 1; transform: scaleX(1.1);}
#header .gnb_wrap li:last-of-type{margin-right: 0;}
#header .gnb_wrap li a{font: 25px 'Pretendard-Bold'; color: #333; text-transform: uppercase; cursor: pointer; transition: .3s;}
#header .gnb_wrap li.on a{color: #fff;}

@media screen and (max-width: 1400px){
  #header .inner{width: 90%; margin: 0 auto;}
}

/* main */

#main{position: absolute; left: 8%; top: 50%; transform: translateY(-50%); width: 620px; height: 620px; z-index: 999;}
#main .category{position: relative; width: 100%; height: 100%;}
#main .category #main_bg{top: 0; left: 50%; bottom: 0; width: 100%; height: 100%; transition: all 0.6s;}
#main .category #main_bg.color0{background-color: #7880e9;}
#main .category #main_bg.color1{background-color: #5860d6;}
#main .category #main_bg.color2{background-color: #3f48be;}
#main .category #main_bg.color3{background-color: #232ca8;}
#main .category #main_bg.color4{background-color: #00087c;}

#main .category>li{position: absolute; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 100%;}
#main .category .main_img>ul{width: 100%;}

#main .category .main_img>ul>li{display: list-item; position: absolute; left: 0; top: 0; width: 100%;}
#main .category .main_img>ul>li:not(:first-of-type){top: -250%;}
#main .category .main_img>ul>li>img{display: block; width: 100%; height: 100%; transform: rotate(10deg);}
#main .category .main_img>ul>li:nth-child(2n) img{transform: rotate(-10deg);}

#main .category .main_title{top: 50%; width: 90%; height: 90%; transform: translate(-50%,-50%); background-color: #fff; box-shadow: 3px 3px 10px rgba(0,0,0,.6); opacity: 1; overflow: hidden;}
#main .category .main_title>ul{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
#main .category .main_title>ul>li:not(:first-of-type) .wrap{display: none; opacity: 0;}

#main .category .main_title .home{position: absolute; left: 50%; top: 50%; text-align: center; transform: translate(-50%, -50%);}
#main .category .main_title .home h2{margin-bottom: 10px; font: 64px 'Pretendard-Bold'; color: #444;}
#main .category .main_title .home p{font-family: 'Pretendard-Regular';}
#main .category .main_title .home p:nth-of-type(1){font-size: 30px; color: #777;}
#main .category .main_title .home p:nth-of-type(2){margin: 25px 0 5px; font-size: 16px; color: #999;}
#main .category .main_title .home p:nth-of-type(3){font-size: 38px; color: #444;}

#main .category .main_title .about{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main .category .main_title .about .img.wrap{text-align: center; height: 100%; overflow: hidden;}
#main .category .main_title .about .img.wrap img{width: 100%;}

#main .category .main_title .skill{width: 100%; height: 100%;}
#main .category .main_title .skill_wrap{width: 100%; height: 100%;}
#main .category .main_title .skill_list{width: 500px; margin: 0 auto; padding-top: 70px;}
#main .category .main_title .skill_list::after{content: ''; display: block; clear: both;}
#main .category .main_title .skill_list h2{color: #444;}
#main .category .main_title .skill_list li{float: left; width: calc((500px - 80px)/3); margin: 0 40px 40px 0; color: #444; position: relative; opacity: 1;}
#main .category .main_title .skill_list li:nth-of-type(3n){margin-right: 0;}
#main .category .main_title .skill_list li:nth-of-type(4),
#main .category .main_title .skill_list li:nth-of-type(5),
#main .category .main_title .skill_list li:nth-of-type(6){margin-bottom: 0;}
#main .category .main_title .skill_list .chart{position: relative; width: 100%; height: 140px; display: table;}
#main .category .main_title .skill_list .skill .percent{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0; transition: .5s;}
#main .category .main_title .skill_list .skill .percent:after{content: '%';}
#main .category .main_title .skill_list .skill canvas {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#main .category .main_title .skill_list .skill .txt{font-weight: 300; display: block; text-align: center; margin-top: 20px; opacity: 0; transition: .5s;}
#main .category .main_title .skill_list .skill li{opacity: 1; top: 0;}

#main .category .main_title .project{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main .category .main_title .project .wrap{position: relative; width: 100%; height: 100%;}
#main .category .main_title .project .wrap input[id*='slide']{display: none;}
#main .category .main_title .project .wrap .slide_container{max-width: 585px; height: 100%; margin: 0 auto;}
#main .category .main_title .project .wrap .slide_list{white-space: nowrap; height: 100%; font-size: 0; overflow: hidden; position: relative;}
#main .category .main_title .project .wrap .slide_list>li{display: inline-block; vertical-align: middle; width: 100%; transition: .5s;}
#main .category .main_title .project .wrap .slide_list>li>.content{position: relative; width: 100%; height: 100%; padding: 35px; text-align: center;}
#main .category .main_title .project .wrap .slide_list>li>.content img{width: 100%;}

#main .category .main_title .project .wrap .slide_list .slide{width: 100%; height: 100%;}

#main .category .main_title .project .wrap .slide_list .txt_wrap{float: left; width: 50%; text-align: left;}
#main .category .main_title .project .wrap .slide_list h3{padding: 10px 15px; font-size: 22px; color: #444; transition: .5s; text-align: left;}
#main .category .main_title .project .wrap .slide_list .slide h3:after{display: inline-block; margin-left: 8px; font-size: 12px; color: #999;}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(1) h3:after{content: '21. 07';}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(2) h3:after{content: '21. 06';}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(3) h3:after{content: '21. 12';}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(4) h3:after{content: '21. 12';}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(5) h3:after{content: '20. 12';}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(6) h3:after{content: '20. 08';}
#main .category .main_title .project .wrap .slide_list .slide:nth-of-type(7) h3:after{content: '20. 08';}
#main .category .main_title .project .wrap .slide_list .txt_wrap p{padding: 0 8px; font-size: 18px; color: #444; opacity: 0; transform: translateY(30px); transition: .5s;}

#main .category .main_title .project .wrap .slide_list .btn_wrap{float: left; width: 50%; text-align: right; opacity: 0; transform: translateY(30px); transition: .5s;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li{width: 100%; margin-bottom: 15px;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li a{position: relative; display: inline-block; width: 90px; height: 35px; margin-right: 25px; text-align: center; border: 1px solid #444; border-radius: 35px; cursor: pointer; background-color: transparent; transition: .3s; overflow: hidden;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li a:hover{border-color: #3f48be;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li a::after{content: ''; position: absolute; display: block; left: 0; top: 0; width: 100%; height: 100%; border-radius: 35px; background-color: #3f48be; transform: scaleX(0.5); opacity: 0; z-index: -1; transition: .7s;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li a:hover::after{transform: scale(1.5, 1.5); opacity: 1;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li a span{font: bold 16px/33px 'inherit'; color: #444; text-transform: uppercase; transition: .3s;}
#main .category .main_title .project .wrap .slide_list .btn_wrap li a:hover span{color: #fff;}

#main .category .main_title .project .wrap input[id="slide01"]:checked ~ .slide_container .slide_list>li{transform: translateX(0%);}
#main .category .main_title .project .wrap input[id="slide02"]:checked ~ .slide_container .slide_list>li{transform: translateX(-100%);}
#main .category .main_title .project .wrap input[id="slide03"]:checked ~ .slide_container .slide_list>li{transform: translateX(-200%);}
#main .category .main_title .project .wrap input[id="slide04"]:checked ~ .slide_container .slide_list>li{transform: translateX(-300%);}
#main .category .main_title .project .wrap input[id="slide05"]:checked ~ .slide_container .slide_list>li{transform: translateX(-400%);}
#main .category .main_title .project .wrap input[id="slide06"]:checked ~ .slide_container .slide_list>li{transform: translateX(-500%);}
#main .category .main_title .project .wrap input[id="slide07"]:checked ~ .slide_container .slide_list>li{transform: translateX(-600%);}

#main .category .main_title .project .wrap input[id="slide01"]:checked ~ .slide_container li:nth-child(1) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide01"]:checked ~ .slide_container li:nth-child(1) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}
#main .category .main_title .project .wrap input[id="slide01"]:checked ~ .slide_container li:nth-child(1) .btn_wrap{opacity: 1; transform: translateY(0); transition-delay: .6s;}

#main .category .main_title .project .wrap input[id="slide02"]:checked ~ .slide_container li:nth-child(2) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide02"]:checked ~ .slide_container li:nth-child(2) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}
#main .category .main_title .project .wrap input[id="slide02"]:checked ~ .slide_container li:nth-child(2) .btn_wrap{opacity: 1; transform: translateY(0); transition-delay: .6s;}

#main .category .main_title .project .wrap input[id="slide03"]:checked ~ .slide_container li:nth-child(3) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide03"]:checked ~ .slide_container li:nth-child(3) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}
#main .category .main_title .project .wrap input[id="slide03"]:checked ~ .slide_container li:nth-child(3) .btn_wrap{opacity: 1; transform: translateY(0); transition-delay: .6s;}

#main .category .main_title .project .wrap input[id="slide04"]:checked ~ .slide_container li:nth-child(4) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide04"]:checked ~ .slide_container li:nth-child(4) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}
#main .category .main_title .project .wrap input[id="slide04"]:checked ~ .slide_container li:nth-child(4) .btn_wrap{opacity: 1; transform: translateY(0); transition-delay: .6s;}

#main .category .main_title .project .wrap input[id="slide05"]:checked ~ .slide_container li:nth-child(5) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide05"]:checked ~ .slide_container li:nth-child(5) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}
#main .category .main_title .project .wrap input[id="slide05"]:checked ~ .slide_container li:nth-child(5) .btn_wrap{opacity: 1; transform: translateY(0); transition-delay: .6s;}

#main .category .main_title .project .wrap input[id="slide06"]:checked ~ .slide_container li:nth-child(6) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide06"]:checked ~ .slide_container li:nth-child(6) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}

#main .category .main_title .project .wrap input[id="slide07"]:checked ~ .slide_container li:nth-child(7) .txt_wrap h3{opacity: 1; transform: translateY(0); transition-delay: .2s;}
#main .category .main_title .project .wrap input[id="slide07"]:checked ~ .slide_container li:nth-child(7) .txt_wrap p{opacity: 1; transform: translateY(0); transition-delay: .4s;}

#main .category .main_title .project .wrap .slide_container .page_list{position: absolute; left: 50%; bottom: 15px; text-align: center; transform: translateX(-50%);}
#main .category .main_title .project .wrap .slide_container .page_list>li{display: inline-block; vertical-align: middle;}
#main .category .main_title .project .wrap .slide_container .page_list>li>label{display: block; padding: 8px 8px;  background: #7880e9; margin: 20px 5px; cursor: pointer;}
#main .category .main_title .project .wrap input[id='slide01']:checked ~ .slide_container .page_list>li:nth-child(1)>label{background: #3f48be;}
#main .category .main_title .project .wrap input[id='slide02']:checked ~ .slide_container .page_list>li:nth-child(2)>label{background: #3f48be;}
#main .category .main_title .project .wrap input[id='slide03']:checked ~ .slide_container .page_list>li:nth-child(3)>label{background: #3f48be;}
#main .category .main_title .project .wrap input[id='slide04']:checked ~ .slide_container .page_list>li:nth-child(4)>label{background: #3f48be;}
#main .category .main_title .project .wrap input[id='slide05']:checked ~ .slide_container .page_list>li:nth-child(5)>label{background: #3f48be;}
#main .category .main_title .project .wrap input[id='slide06']:checked ~ .slide_container .page_list>li:nth-child(6)>label{background: #3f48be;}
#main .category .main_title .project .wrap input[id='slide07']:checked ~ .slide_container .page_list>li:nth-child(7)>label{background: #3f48be;}

#main .category .main_title .contact{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main .category .main_title .contact .img.wrap{position: relative; text-align: center; height: 100%; padding-top: 20%; overflow: hidden;}
#main .category .main_title .contact .img.wrap img{width: 60%; transform: translateY(10px);}
#main .category .main_title .contact .img.wrap::before{content: '카카오톡 오픈채팅 QR코드'; position: absolute; left: 50%; top: 80px; display: block; font: 16px 'Pretendard-Regular'; color: #999; transform: translateX(-50%);}

@media screen and (max-width: 1600px){
  #main{width: 550px; height: 550px;}

  #main .category .main_title .skill_list{padding-top: 40px;}
}

@media screen and (max-width: 1250px){
  #main{width: 450px; height: 450px;}

  #main .category .main_title .skill_list{width: 400px; padding-top: 25px;}
  #main .category .main_title .skill_list li{width: calc((400px - 40px)/3); margin: 0 20px 30px 0;}
  #main .category .main_title .skill_list .chart{height: 110px;}

  #main .category .main_title .skill_list .skill .txt{margin-top: 5px;}
}

/* right_menu */

#right_menu{position: absolute; top: 10%; right: 8%; width: 700px; height: 80%; overflow: hidden;}

#right_menu .sub_title{width: 100%; height: 100%;}
#right_menu .sub_title>ul{position: absolute; left: 0; top: 0; width: 100%;}
#right_menu .sub_title>ul>li{position: relative; text-align: right;}
#right_menu .sub_title>ul>li:not(:first-child){display: none;}

#right_menu .sub_title>ul .home{margin-top: 25%; margin-bottom: 25px;}
#right_menu .sub_title>ul .home h2{font: 72px 'Pretendard-Bold'; color: #444; text-transform: uppercase;}
#right_menu .sub_title>ul .home p{font: 54px 'Pretendard-Bold'; color: #444; text-transform: uppercase;}

#right_menu .sub_title>ul .about{margin-top: 5%;}
#right_menu .sub_title>ul .about::after{content: ''; display: inline-block; width: 80%; border-top: 1px dotted #444; text-align: right;}
#right_menu .sub_title>ul .about h2{font: 48px 'Pretendard-Bold'; color: #444; text-transform: uppercase; margin-bottom: 15px;}

#right_menu .sub_title>ul .about .profile{margin-bottom: 20px;}
#right_menu .sub_title>ul .about .profile p{font: 24px 'Pretendard-Regular'; color: #444;}

#right_menu .sub_title>ul .about .history p{margin-bottom: 5px; font: 18px 'Pretendard-Regular'; color: #444;}

#right_menu .sub_title>ul .skill h2{font: 48px 'Pretendard-Bold'; color: #444; text-transform: uppercase;}

#right_menu .sub_title>ul .project{margin-top: 20%;}
#right_menu .sub_title>ul .project h2{font: 48px 'Pretendard-Bold'; color: #444; text-transform: uppercase;}

#right_menu .sub_title>ul .contact{position: relative; margin-top: 10%;}
#right_menu .sub_title>ul .contact::after{content: ''; display: inline-block; width: 80%; border-top: 1px dotted #444; text-align: right;}
#right_menu .sub_title>ul .contact h2{font: 48px 'Pretendard-Bold'; color: #444; text-transform: uppercase; margin-bottom: 15px;}
#right_menu .sub_title>ul .contact p{font: 22px 'Pretendard-Regular'; color: #444; text-transform: uppercase;}

#right_menu .sub_title_txt{width: 100%; height: 100%;}
#right_menu .sub_title_txt>ul{position: relative; width: 100%;}
#right_menu .sub_title_txt>ul>li{position: absolute; right: 0; text-align: right;}
#right_menu .sub_title_txt>ul>li:not(:first-child){right: -100%;}

#right_menu .sub_title_txt>ul .home{bottom: 150px; font: 36px 'Pretendard-Regular'; padding: 15px 0;}
#right_menu .sub_title_txt>ul .home p{font-size: 24px; font-weight: normal;}

#right_menu .sub_title_txt>ul .about{bottom: 20px; font: 20px 'Pretendard-Regular'; color: #444; padding: 25px 0 15px;}

#right_menu .sub_title_txt>ul .skill{bottom: 10px;}
#right_menu .sub_title_txt>ul .skill .txt_wrap{margin-bottom: 25px; color: #444;}
#right_menu .sub_title_txt>ul .skill .txt_wrap:first-of-type{margin-top: 25px;}
#right_menu .sub_title_txt>ul .skill .txt_wrap h2{margin-bottom: 10px; font: bold 24px 'Pretendard-Regular';}
#right_menu .sub_title_txt>ul .skill .txt_wrap p{font: 20px 'Pretendard-Regular';}

#right_menu .sub_title_txt>ul .project{bottom: 150px; color: #444;}
#right_menu .sub_title_txt>ul .project:first-of-type{margin-top: 25px;}
#right_menu .sub_title_txt>ul .project h2{margin-bottom: 25px; font: bold 30px 'Pretendard-Regular';}
#right_menu .sub_title_txt>ul .project p{margin-bottom: 15px; font: 20px 'Pretendard-Regular';}

#right_menu .sub_title_txt>ul .contact{bottom: 60px; color: #444;}
#right_menu .sub_title_txt>ul .contact .sns li{margin-bottom: 25px;}
#right_menu .sub_title_txt>ul .contact:first-of-type{margin-top: 25px;}
#right_menu .sub_title_txt>ul .contact h4{font: 24px 'Pretendard-Regular'; color: #888; margin-bottom: 5px;}
#right_menu .sub_title_txt>ul .contact p{font: 24px 'Pretendard-Regular'; color: #444;}

#right_menu .sub_title>ul .about .history_clone{display: none;}

@media screen and (max-width: 1750px){
  #right_menu{right: 3%; width: 50%;}

  #right_menu .sub_title>ul .home h2{font-size: 54px;}
  #right_menu .sub_title>ul .home p{font-size: 36px;}
}

@media screen and (max-width: 1535px){
  #right_menu .sub_title>ul .about .history{display: none;}
  #right_menu .sub_title>ul .about .history_clone{display: block;}
  #right_menu .sub_title>ul .about .history_clone p{font-size: 16px;}
}

/* nav */

#nav{position: absolute; bottom: 60px; left: 0; width: 60px; height: calc(100% - 140px);}
#nav .nav_wrap{position: absolute; left: 50%; bottom: 0; width: 100%; transform: translateX(-50%);}
#nav .nav_wrap ul{width: 100%; text-align: center;}
#nav .nav_wrap ul li{position: relative; width: 100%; height: 65px; margin-bottom: 5px;}
#nav .nav_wrap ul li::after{content: ''; display: block; position: absolute; left: -100px; top: 0; width: 130%; height: 100%; transform: skew(-10deg); opacity: 1; transition: .3s; z-index: -1;}
#nav .nav_wrap ul li:nth-of-type(1):after{background-color: #7880e9;}
#nav .nav_wrap ul li:nth-of-type(2):after{background-color: #5860d6;}
#nav .nav_wrap ul li:nth-of-type(3):after{background-color: #3f48be;}
#nav .nav_wrap ul li:nth-of-type(4):after{background-color: #232ca8;}
#nav .nav_wrap ul li:nth-of-type(5):after{background-color: #00087c;}
#nav .nav_wrap ul li.on::after{left: -13px;}
#nav .nav_wrap ul li a{display: block; width: 100%; color: #444;}
#nav .nav_wrap ul li.on a{color: #fff;}
#nav .nav_wrap ul li a i{display: block; font: 900 24px/65px 'Font Awesome 5 Free'; transition: .3s;}
#nav .nav_wrap ul li:first-child a i::before{display: block; transform: translateX(-1px);}
#nav .nav_wrap ul li:last-of-type a i{font: 900 22px/65px 'Font Awesome 5 free';}
#nav .nav_wrap ul li a:hover i{transform: scale(1.2);}

#sns{position: absolute; bottom: 60px; right: 0; width: 60px; height: calc(100% - 140px);}
#sns .sns_wrap{position: absolute; left: 50%; bottom: 0; width: 100%; transform: translateX(-50%);}
#sns .sns_wrap ul{width: 100%; text-align: center;}
#sns .sns_wrap ul li{position: relative; width: 65px; height: 65px; margin-bottom: 5px;}
#sns .sns_wrap ul li::after{content: ''; display: block; position: absolute; right: -100px; top: 0; width: 130%; height: 100%; transform: skew(-10deg); background-color: #7880e9; opacity: 1; transition: .3s; z-index: -1;}
#sns .sns_wrap ul li:hover::after{right: -13px;}
#sns .sns_wrap ul li a{display: block; width: 100%; color: #444;}
#sns .sns_wrap ul li a i{font-size: 24px; line-height: 65px; transition: .3s;}
#sns .sns_wrap ul li:hover a i{transform: scale(1.2); color: #fff;}

.scroll_arrow{position: absolute; left: 50%; bottom: 10%; transform: translateX(-50%); height: 15px; z-index: 99; opacity: 1;}
.scroll_arrow:after{content: '\f063'; display: block; position: absolute; top: 25px; left: 50%; margin-top: 0; font: 900 13px 'Font Awesome 5 Free'; color: #999; transform: translateX(-50%); animation: motion 0.3s linear 0s infinite alternate;}
.scroll_arrow .scroll_wrap{font-size: 16px; color: #999; overflow: hidden;}
.scroll_arrow .scroll_wrap .scroll_txt{position: relative;}

/* footer */

#footer{position: absolute; bottom: 0; left: 0; width: 100%; height: 60px; overflow: hidden; background-color: #444;}
#footer .copy{text-align: center;}
#footer .copy p:first-of-type{padding-top: 15px;}
#footer .copy p{font: 12px 'Pretendard-Regular'; color: #fff; margin-bottom: 3px;}

@keyframes motion {
	0% {margin-top: 0px;}
	100% {margin-top: 5px;}
}

